<video-wall>
  <video width="1024" height="1024"
    src="videos/360-video.mp4"
    poster="img/buster-posey-hr.jpg"
    data-title="The Future of Customer Experience"
    data-author="Blackberry UK" loop autoplay></video>
  <video width="1024" height="1024"
    src="videos/360-video.mp4"
    poster="img/buster-posey-hr.jpg"
    data-title="The Future of Customer Experience"
    data-author="Blackberry UK" loop autoplay></video>
  <video width="1024" height="1024"
    src="videos/360-video.mp4"
    poster="img/buster-posey-hr.jpg"
    data-title="The Future of Customer Experience"
    data-author="Blackberry UK" loop autoplay></video>
  <video width="1024" height="1024"
    src="videos/360-video.mp4"
    poster="img/buster-posey-hr.jpg"
    data-title="The Future of Customer Experience"
    data-author="Blackberry UK" loop autoplay></video>
</video-wall>
