<video-wall>
</video-wall>
<section class="overlay">
  <div class="menu-item" ng-class="{active: currentItemIndex === 0}">
    Hire
  </div>
  <div class="menu-item" ng-class="{active: currentItemIndex === 1}">
    Skip
  </div>
  <div class="menu-item" ng-class="{active: currentItemIndex === 2}">
    Call
  </div>
</section>
<section class="left overlay">
  <div class="menu-item" ng-class="{active: currentItemIndex === 0}">
    Hire
  </div>
  <div class="menu-item" ng-class="{active: currentItemIndex === 1}">
    Skip
  </div>
  <div class="menu-item" ng-class="{active: currentItemIndex === 2}">
    Call
  </div>
</section>
