body,
h1,
h2,
h3 {
  font-family: 'Avenir Next', 'Helvetica', 'Arial', 'Sans-Serif';
}

#frame {
  width: 100%;
  height: 100%;
}
#frame .row {
  height: 100%;
  width: 100%;
  padding: 0;
}

#frame .row .col {
  padding: 0;
}
#frame img {
  width: 100%;
}

cardboard-gl,
video-wall,
splash-screen {
  display: block;
  background: black;
  width: 100%;
  height: 100%;
}

.disabled {
  opacity: 0.4;
}

.overlay {
  position: absolute;
  right: 2em;
  top: 2em;
  text-align: center;

  background-color: rgba(0,0,0,0.5);
  color: #fff;
}
.overlay.padding {
  padding: 1em 3em;
}
.overlay.left {
  right: calc(50% + 2em);
}
.menu-item {
  padding: 0.5em 1em;
  font-weight: 800;
  border-left: solid transparent 0.5em;
}
.menu-item.active {
  border-left: solid #f00 0.5em;
}

.overlay h1 {
  color: #fff;
  font-weight: 800;
}

.animated.slow {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

video {
  display: none;
  width: 1024;
  height: 1024;
  background: #000;
}
video.fullscreen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
